<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Mapa Sanca</title>
</head>
<body>
  <div>Nome: <%= name %></div>
  <div>Descrição: <%= description %></div>
  <div>Autor: <%= author %></div>
  <div>Latitude: <%= lat %></div>
  <div>Longitude <%= lng %></div>
</body>
</html>
